<h1 align="center">Total articles created</h1>
<div class="article">
  <%= line_chart Article.group_by_day(:created_at).count, xtitle: "Time", ytitle: "Articles created" %>
</div>

<h1 align="center">Articles</h1>

<div align="center" class="pagination">
  <%= will_paginate @articles %>
</div>

<%= render 'article', obj: @articles %>
