<div>
    <h1 align="center">About the alpha blog</h1>
    <div align="center" style="width:500px; margin:auto;">
        <h2>Learning rails</h2>
        <p>This website is my first project on the framework Ruby on Rails.
        This project is based around a tutorial on Udemy, from the course
        "The complete Ruby on Rails developer course".</p>
        <p> Feel free to create articles and explore the app!</p> 
    </div>
</div>
