
@import "bootstrap";

body{
  background-color:#262626;
  color:white;
}

#home{
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar{
  margin-bottom: 10px;
}

.article-meta-details{
  border-top:1px solid gray;
  margin-top:15px;

}

.article-actions{
  padding-top: 5px;
  margin: 10px 5px 10px 5px;
}

.article-title{
  font-weight:bold;
  font-size:1.5em;
}

.article-body{
  border-top:1px solid gray;
  padding-top:15px;
  padding-bottom:15px;
}

.listing{
  list-style: none;
  padding-left: 0;
}

.pagination{
  display:inline-block;
  text-decoration: none;
  padding: 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color:#404040;
}

.description{
  margin-top:20px;
}

.description-text{
  border-top:1px solid gray;
  padding-top:15px;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  font-size:18px
}

.card{
  background-color:#404040;
  margin-top:10px;
  padding-right:5px;
  padding-left:5px;
}

.card-danger{
  background-color:#ff3333;
  margin: 10px 10px 0px 15px;
}


.center{
  text-align: center;
}

.jumbotron{
  margin-top:20px;
  background-size: cover;
  background-image: asset-url('background.jpg');
  height: 550px;
}

.jumbotron h1{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size:1.7em;
}

footer{
  padding-top:5px;
  margin-top: 50px;
  border-top: 1px solid gray;
  color:darkgray;

}

footer a:hover{
  color: white;
}

footer small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left:15px;
}
