<h1 align="center">Listing all categories</h1>

<div align="center">
  <div class="pagination">
    <%= will_paginate%>
  </div>
  <% if logged_in? and current_user.admin %>
    <div class="col-sm-10">
      <%= link_to "Create new category", new_category_path%>
    </div>
  <% end %>
<% @categories.each do |category| %>
  <ul class="listing">
    <div class="row">
      <div class="card col-md-4 offset-md-4">
        <li class="article-title">
          <%= link_to "#{category.name}", category_path(category.id) %>
        </li>
        <li><small><%= pluralize(category.articles.count, "article") %></small></li>
      </div>
    </div>
  </ul>
<%end%>
</div>
